{% extends "index.html" %}
{% block body %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				
					<span class="login100-form-title p-b-51">
						<img src="https://image.ibb.co/gC1mUT/Final1.png" alt="">	
					</span>

					<centre>
					<div  data-validate = "Username is required">
						<h1>                         about</h1>
						
						<span class="focus-input100"></span>
					</div></centre>
					
					
					<div  data-validate = "Password is required">
						<p>An attempt to to bring the authorisations of future,today.</p>
						<p>Useful for Attendance/Authorisating in commercial sector.</p>
						<p>Save money,time and labour collecting data</p>
						<p>have digitalised access to all data and its statisics.</p>
						<span class="focus-input100"></span>
					</div>
					
					<!-- <div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								about
							</a>
						</div>
					</div> -->

					<div class="container-login100-form-btn m-t-17">
						<a class="login100-form-btn" href="{{url_for('index')}}">
							back
                        </a>
                        
						
					</div>

					
			</div>
		</div>
	</div>
	
    <span>
    <img src="https://image.ibb.co/fmbaOo/final2.png" style="float:left"><p>Technologies Used: <hr>  Flutter - for cross mobile development<hr>  Firebase - for realtime database <hr>   HTML - Website structure <hr>    PYTHON - Web app logic<hr>      FLASK - for making Web app</p></span>
    
    {% endblock %}